/* CUSTOM VARIABLES */

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

/* GLOBAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: var(--color-grey);
}

/* MAIN STYLING */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: 10rem;
}

.text {
  text-align: center;
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  border: 1px solid var(--color-grey);
  overflow: hidden;
}

.tabs__tab--links {
  width: 25%;
  z-index: 1;
}

button.tabs__tab--link {
  padding: 1.2rem;
  width: 100%;
  font-size: 1.8rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-primary);
}

.active {
  background-color: var(--white);
}

.tabs__tab--contents {
  padding: 1rem;
}

.tabs__tab--content {
  display: none;
  animation: fadeRight 500ms ease 1s;
}

.about {
  display: block;
}

@keyframes fadeRight {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  .tabs__tab--links {
    width: 50%;
  }
}
